{% extends 'base.html' %}

{% block page_title %}About - DTG{% endblock %}
{% block page_header %}About{% endblock %}

{% block page_content %}

<div class="tac">
  <h1 class="display-4">Hello Customer</h1>
  <p class="lead">We are a growing graphical business, we would like to tell you our story...</p>
  <hr class="my-4">
  <p>In June 2019, we started out as a small business doing drawings free-hand. It took time, precision and care. We used those values in order to create a customer base.</p>
  <p>Now in 2020 with our ever growing customer base, we have moved onto the digital world, using our free-hand precision, care and taking all the time needed, however integrating applications to make it possible.</p>
  <hr class="my-4">
  <h2><strong>What are our values and how do we keep to them?</strong></h2>
  <hr class="my-4">
</div>
  <a class="btn btn-success col" data-toggle="collapse" href="#timeValue" role="button" aria-expanded="false" aria-controls="timeValue"><i class="fa fa-clock-o"></i> TIME</a>
    <div class="col">
    <div class="collapse multi-collapse" id="timeValue">
      <div class="card card-body">
        As weird as this may sound, we value time in our business. Not to rush and to ensure that each project has enough time to come out perfect for you, our customer.
      </div>
    </div>
  </div>
  <button class="btn btn-info col" type="button" data-toggle="collapse" data-target="#precisionValue" aria-expanded="false" aria-controls="precisionValue"><i class="fa fa-thumb-tack"></i> PRECISION</button>
    <div class="col">
    <div class="collapse multi-collapse" id="precisionValue">
      <div class="card card-body">
        We always aim to have your design made PRECISELY to your dreams.
      </div>
    </div>
  </div>
  <button class="btn btn-warning col" style="color:white;" type="button" data-toggle="collapse" data-target="#careValue" aria-expanded="false" aria-controls="careValue"><i class="fa fa-handshake-o"></i> CARE</button>
    <div class="col">
    <div class="collapse multi-collapse" id="careValue">
      <div class="card card-body">
        One line out of place can mean a whole lot of lost sales in the business world, this is why we value caring for our customers and their designs, ensuring that they are perfect to represent a business.
      </div>
    </div>
    </div>
<div class="row">
</div>

{% endblock %}