{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}Login{% endblock %}

{% block page_heading %}User Login{% endblock %}
    
    
{% block page_content %}
    <form method="POST">
        {% csrf_token %}
        {{ login_form | as_bootstrap }}
        <button type="submit" class="btn btn-success col offset-3" style="width: 50%;">Login</button>
    </form>
    <a class="btn btn-secondary col offset-3" style="width: 50%;"" href="{% url 'password_reset' %}">Forgot Password?</a>
{% endblock %}